html {
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0 auto;
	background-color: #fff;
	
  	color: #000;
  	font-size: 10px;
  	font-family: 'Exo 2';
  	background-position: center; 
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

:root { 
  --width-out: 1920px;
  --max-width-one: 1920px;
}

.header, .footer {
	margin: 0 auto;
	max-width: var(--max-width-one); 
}


.container {
	height: auto;
	margin: 0 auto;
	background-color: #fff;
}

.menu_and_logo {
	display: flex;
	color: #000;
}

.logo_text {
	position: relative;
	margin-top: 0.9375%;
	left: 12.44791666666667%;

	cursor: pointer;

	font-size: calc(1px + 18 * (var(--width-out) / 1920));
  	white-space: nowrap;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration-line: none;
	font-family:'Conv_13626', Sans-Serif;
	letter-spacing: calc(1px + 8 * (var(--width-out) / 1920));

	-moz-transition: color 0.3s 0.3s line;
	-o-transition: color 0.3s 0.3s line;
	-webkit-transition: color 0.3s 0.3s line;
}

.logo_text:hover {
	color: blue;
}

.div1 {
	margin-left: auto;
}

.menu_right {
	font-weight: 700;
	font-size: calc(1px + 14 * (var(--width-out) / 1920));
	letter-spacing: calc(0px + 2 * (var(--width-out) / 1920));

	outline: none;
	white-space: nowrap;
	text-decoration: none;
  	cursor: pointer;

  	padding: 0.8% 2.234375% 5.78125% 0px;	

	-moz-transition: color 0.3s 0.3s line;
	-o-transition: color 0.3s 0.3s line;
	-webkit-transition: color 0.3s 0.3s line;
}

.menu_right:hover {
	color: blue;
}

.contacts_text {
	font-size: calc(1px + 15 * (var(--width-out) / 1920));
	font-weight: 900;
	white-space: nowrap;

	margin-top: 0.75%;
	margin-left: 2.234375%;
	margin-right: 5.78125%;
}

.main {
	position: relative;
	left: 10.52083333333333%;
	height: auto;
	max-width: 78.54166666666667%;
	margin-top: 11.40625%;
	margin-bottom: 2%;
}

.text_h1 {
	text-align: center;
	font-family: Calibri;
	white-space: nowrap;
	font-size: calc(2px + 42 * (var(--width-out) / 1920));
	font-weight: 400;
	margin-bottom: 3.011141222523336%;
}

.text_p {
	font-size: calc(1px + 22 * (var(--width-out) / 1920));
	font-weight: 400;
	margin-bottom: 2.152519893899204%;
}

.but {
	margin: auto 0;
}

.but_a {
	color: #000;
	font-weight: 400;
	font-size: calc(1px + 26 * (var(--width-out) / 1920));
	text-decoration-line: none;
	outline: none;

	-moz-transition: color 0.3s 0.3s line;
	-o-transition: color 0.3s 0.3s line;
	-webkit-transition: color 0.3s 0.3s line;
}

.but_a:hover {
	color: blue;
}

.footer_block {
	margin: 0 auto;
	height: 200px;
}

.info {
	color: #000;
	background-color: #fff;

	position: relative;
	left: 10.52083333333333%;
	max-width: 78.54166666666667%;
	display: flex;
}

.info_left {
	min-width: 33.33333333333333%;
}

.info_right {
	white-space: nowrap;
	margin-left: auto;
	margin-right: 8.385416666666667%;
	min-width: 33.33333333333333%;
	padding-top: 2.220833333333333%; 
}

.one, .two {
	text-decoration: none;
	outline: none;
	color: #000;
}

.one {
	font-family: 'Conv_13626', Sans-Serif;
	font-size: calc(5px + 21 * (var(--width-out) / 1920));
	letter-spacing: calc(1px + 8 * (var(--width-out) / 1920));
}

.info_h2 {
	font-weight: bolder;
	font-size: calc(6px + 22 * (var(--width-out) / 1920));
	margin-top: 1.75%;
	margin-bottom: 2.25%;
}

.two {
	font-weight: bolder;
	font-size: calc(3px + 13 * (var(--width-out) / 1920));
}

.info_left_p {
	font-weight: bold;
	font-size: calc(3px + 9 * (var(--width-out) / 1920));
	margin-top: 2.25%;
}

.top_a {
	font-weight: bold;
	font-size: calc(7px + 28 * (var(--width-out) / 1920));

	text-decoration: none;
	outline: none;
	color: #000;
	margin-right: 21.875%;
}

.bottom {
	margin-top: 8.28125%;
	font-size: calc(2px + 14 * (var(--width-out) / 1920));
	font-weight: bold;
}

.bottom p {
	white-space: pre-line;
}